<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092881218475-lgrhat555702aiiap93mteblf6jqk55u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092881218475-lgrhat555702aiiap93mteblf6jqk55u</string>
	<key>API_KEY</key>
	<string>AIzaSyBHPGj7TjtpU_9nXTiTa5Og6iBab35-8tA</string>
	<key>GCM_SENDER_ID</key>
	<string>1092881218475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spaceneticFlutter</string>
	<key>PROJECT_ID</key>
	<string>spacenetic-9a16d</string>
	<key>STORAGE_BUCKET</key>
	<string>spacenetic-9a16d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092881218475:ios:500b1e1eb0d9a8a04770ee</string>
</dict>
</plist>